.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border: 1px solid var(--purple);
    border-radius: 53px;
    padding: 32px;
    background: var(--background);
    box-shadow: 0px 40px 40px var(--shadow-02);

    .logo-and-title {
        display: flex;
        align-items: center;
        color: var(--light-grey);
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;

        img {
            margin-right: 16px;
        }
    }

    .input-and-button {
        display: flex;

        input {
            margin-right: 1rem;
            background: var(--background);
            border: 1px solid var(--border);
            border-radius: 80px;
            padding: 8px 24px;
            width: 100%;
            max-width: 460px;
            height: 48px;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: var(--white);
        }

        button {
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;

        .logo-and-title {
            margin-bottom: 16px;
            font-size: 24px;
            line-height: 32px;
        }

        .input-and-button {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        input {
            margin-right: 0;
            width: 100%;
            max-width: none;
            margin-bottom: 1rem;
        }
    }

    @media (min-width: 1300px) {

        .input-and-button input {
            width: 460px;
        }

    }
}